{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }]
  ],
  "comments": false,
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"]
    }
  }
}